.action-cell
  .detailed-view
    min-width:  600px
    height: 100%
    color: #8a6d3b

    .some-class
      height: 100%

    hr
      display: block
      border-width: 1px
      width: 90%

    .list-container
      margin-top: 10px
      padding-left: 10px
      overflow-y: scroll
      overflow-x: hidden
      height: 100%

      ::-webkit-scrollbar
        display: none

      .btn
        margin-bottom: 5px

    .playback-container
      padding: 10px
      height: 100%

      .yt-container
        height: 100%
        border-radius: 25px
        overflow: hidden
        position: relative

  .count
    font-size: large
    cursor: pointer

  .bad
    color: #8a3b58
